.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 680px;  
}

.container__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;  
  color: var(--text-color-black-alpha-48);
}
