.tabs {
  padding: 64px 110px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: var(--bg-color-white);
  max-width: 900px;  
  width: 100%;
}

.tabs__steps {
  margin-bottom: 102px;
}

.tabs__buttons {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}
