.tabs {
  padding: 64px 110px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: var(--bg-color-white);
  max-width: 900px;
  height: 821px;
  width: 100%;
}

.tabs__buttons {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
