.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item__input {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18.5px;
}
